* {
  /* outline: dotted orangered 1px; */
}

/*==> Hero & Speakers Section <==*/
#main-slide .carousel-caption {
  color: #fff;
  position: static;
  top: 12%;
}

#main-slide .carousel-item .carousel-caption .info-text p {
  font-size: 13px;
}

p:nth-child(3) {
  /* padding: 36px 0 0 0; */
}

#main-slide .carousel-caption a.btn {
  margin-right: 0;
}

/*==> Event Countdown Section <==*/
section.counter-section.section-padding {
  padding-top: 0;
}

@media screen and (max-width: 1199px) {
  #main-slide .carousel-item img.d-block.w-100 {
    position: absolute;
    z-index: -1;
  }

  #main-slide .carousel-inner .carousel-item::after {
    display: none;
  }

  #main-slide .carousel-caption {
    position: static;
    padding-top: 70px;
  }
}
